<app-nav-bar></app-nav-bar>

<div class="container-xxl py-5">
    <div class="container">
        <a (click)="addPost()" class="btn1 btn-sm btn-primary px-3"
            style="border-radius: 50px 50px 50px 50px; padding: 10px 20px; cursor: pointer; color: white;">Add Post</a>

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Posts</h6>
            <!-- <h1 class="mb-5">Awesome Packages</h1> -->
        </div>

        <div class="row g-4 card-wrapper">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of posts">
                <div class="package-item">
                    <div class="text-center p-4">
                        <div class="overflow-hidden">
                            <img class="img-fluid card-image" [src]="item.photosImagePath" alt="Image"
                                *ngIf="item.photosImagePath">
                        </div>
                        <h5 class="mb-0">{{item.sujet}}</h5>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>{{item.contenu}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button mat-icon-button color="warn" style="margin-right: 20%;"
                                aria-label="Example icon button with a heart icon" (click)="toggleFavorite(item)">
                                <mat-icon>{{ item.nbLike === 0 ? 'favorite_border' : 'favorite' }}</mat-icon>
                                {{ item.nbLike }}
                            </button>

                            <button mat-icon-button color="black" style="margin-right: 20%;"
                                aria-label="Example icon button with a heart icon"
                                (click)="toggleCommentVisibility(item)">
                                <mat-icon>comment</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Example icon button with a heart icon" id="myElement" (click)="updateFeedback(item, 1)">
                                <span class="material-icons star-icon"
                                    [ngClass]="item.feedback === 0 ? 'black' : 'custom-color'">
                                    star
                                </span>
                            </button>
            
                            <button mat-icon-button aria-label="Example icon button with a heart icon" (click)="updateFeedback(item, 2)">
                                <span class="material-icons star-icon"
                                    [ngClass]="item.feedback >= 2 ? 'custom-color' : 'black'">
                                    star
                                </span>
                            </button>
                            <button mat-icon-button aria-label="Example icon button with a heart icon" (click)="updateFeedback(item, 3)">
                                <span class="material-icons star-icon"
                                    [ngClass]="item.feedback == 3 ? 'custom-color' : 'black'">
                                    star
                                </span>
                            </button>
                        </div>

                        <div class="comments" *ngIf="item.commentVisible">
                            <div *ngFor="let comment of item.commentaires" class="comment">
                                <div class="user-icon">
                                    <img src="assets/img/man.png" alt="User Avatar" />
                                </div>
                                <div class="comment-content">
                                    <p class="comment-author">{{ comment.coment_utilisateurs?.nom_user }} {{
                                        comment.coment_utilisateurs?.prenom_user }}</p>
                                    <p style="margin-left: -80%;">{{ comment.contenu_commentaire }}</p>
                                    <p style="margin-left: 50%;margin-top: -20%">{{ comment.date_creation |
                                        date:'yyyy-MM-dd ' }}</p>
                                    <button mat-icon-button color="warn" style="margin-right: 30%;"
                                        aria-label="Example icon button with a heart icon"
                                        (click)="likeComment(comment)">
                                        <mat-icon style="margin-left: 200%; color: red; cursor: pointer;">{{ comment.liked
                                            === false ?
                                            'favorite_border' : 'favorite' }}</mat-icon>
                                    </button>
                                    <button mat-icon-button color="black" style="margin-right: 20%;"
                                        aria-label="Example icon button with a heart icon"
                                        (click)="toggleCommentResponseVisibility(comment)">
                                        <mat-icon style="margin-left: 10%; margin-top: -10%; cursor: pointer; color: #86B817;">
                                            comment</mat-icon>
                                    </button>
                                    <div class="d-flex mb-2" *ngIf="comment.commentResponse">
                                        <div class="card-block" style="width: 100%;">
                                            <div class="row">
                                                <div class="col-9">
                                                    <input class="comment-textarea" placeholder="reply ..." rows="3"
                                                        style="width: 90%; margin-right: 70%;">
                                                </div>
                                                <div class="col-3">
                                                    <button class="btn btn-sm btn-primary comment-button" type="button"
                                                        (click)="addComment(item)" style="margin-left: -55%;">
                                                        Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mb-2" *ngIf="item.commentVisible">
                            <div class="card-block" style="width: 100%;">
                                <div class="row">
                                    <div class="col-9">
                                        <textarea class="comment-textarea" placeholder="Write a comment..." rows="3"
                                            style="width: 100%;" [(ngModel)]="comment"></textarea>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-sm btn-primary comment-button" type="button"
                                            (click)="addComment(item)">
                                            Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
